@media screen and (max-width: 1200px) {
    #desktopNav {
        display: none;
    }
    
    #hamburgerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
      }


}

@media (max-width: 1024px) {
    #card-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .dropdown {
      width: 4em;
      margin: 2em;
    }

    

    .sort-wrapper {
      padding: 2rem 3rem 0rem 3rem;
    }
  }
  
  @media (max-width: 600px) {
    #card-container {
      grid-template-columns: 1fr;
    }
  }