@media (max-width: 1024px) {
  #desktopNav {
    display: none;
  }

  #hamburgerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  #card-container {
     grid-template-columns: repeat(2, 1fr);
  }

  .sort-wrapper {
    flex-direction: column; /* stack search and dropdowns */
    justify-content: center;
    padding: 0rem 6rem;
    gap: 0;
  }
}

@media (max-width: 650px) {
  #card-container {
    grid-template-columns: 1fr;
  }
}